
:root {
    --first-color: #333D79FF;

    --second-color:  #FAEBEFFF;

}


@font-face {
    font-family: "kyiv-sans";
    src: url("KyivTypeSans-Thin.ttf");
  }
  
  @font-face {
    font-family: "plus-jakarta-sans";
    src: url("PlusJakartaSans-ExtraBold.ttf");
  }
  
  @font-face {
    font-family: "hamlin-bold";
    src: url("Hamlin-Bold.ttf");
  }
  




body {
    background-color: var(--first-color);
    height: 100%;
    font-family: 'plus-jakarta-sans';
    
}

p {
    font-size: 1.2rem;
        text-align: left;
        color: var(--second-color);
       padding: 20px;
       margin: 0 auto;
       font-family: 'plus-jakarta-sans';
}

h1 , h2{
    margin-top: 50px;
    text-align: center;
    color: var(--second-color);
}


h2 {
  
    
    font-size: 32px;

}

#element-1 {
    color: rgb(255, 141, 131);
}

#element-2 {
    color: #AD8B3A;
}


.logos {
    display: flex;
    justify-content: space-between;

}


#main-div {
    padding: 25px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3em;
    align-items:center;
    background-color: var(--second-color);

    min-height: 200px;
    max-height: 250px;
    max-width: 1100px;
    margin: 20px;
    border-radius: 30px;
}

#main-div > div {
    flex: 1;
   padding: 10px;
    background: var(--first-color);
    min-height: 100px;
    text-align: center;
    border-radius: 30px;
    min-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
}


.logo {
    max-height: 100px;
    max-width: 400px;
}

.yale {
    color: #AD8B3A;
}
table {
    margin: 100px;
    padding: 30px;
    border-radius: 40px;
   
    background-color: var(--second-color);
}

.comparison-table th,
.comparison-table td {
    padding: 32px;
    width: 300px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

.comparison-table th {
    background-color: var(--second-color);
    font-weight: bold;
}

.comparison-table td:first-child {
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    table {
        margin-left: 0px;
        margin-right: 0px;
    }
   
    .comparison-table th,
    .comparison-table td {
        padding: 10px;
        width: 10px;
        text-align: left;
        border-bottom: 1px solid #000000;
    }
}


@media screen and (min-width: 800px) {
    #main-div {
        flex-direction: row;
        min-width: 60%;
        align-self: center;
    }

    #main-div > div {
        flex: 1;
        flex-wrap: wrap;
        min-height: 170px;
        min-width: 40%;
        font-size: 40px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .logos {
       width: 100vh;
    }
    p {

        max-width: 60%;
    }


}







